{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="container mt-4">
  <h3>Recibo de Pago - {{ empleado.nombres }} {{ empleado.apellidos }}</h3>

  <form method="get" class="row mb-4">
    <div class="col-md-6">
      <label for="liquidacion_id">Seleccionar Nómina</label>
      <select name="liquidacion_id" id="liquidacion_id" class="form-select" required>
        <option value="">-- Seleccione --</option>
        {% for liq in liquidaciones %}
          <option value="{{ liq.id_liquidacion }}" {% if liq.id_liquidacion|stringformat:"s" == selected_id %}selected{% endif %}>
            {{ liq.mes_liquidacion }}/{{ liq.anho_liquidacion }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <button type="submit" class="btn text-white mb-5" style="background-color:#9c27b0;">Previsualizar</button>
    </div>
  </form>

 {% if selected_id %}
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-3">Desglose del Recibo de pago de {{ empleado.nombres }} {{ empleado.apellidos }} </h5>

    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Concepto</th>
          <th class="text-end">Acreditaciones (Gs)</th>
          <th class="text-end">Descuentos (Gs)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sueldo Base</td>
          <td class="text-end">{{ sueldo_base|floatformat:0|intcomma }}</td>
          <td></td>
        </tr>

        {% for desc, monto in ingresos %}
        <tr>
          <td>{{ desc }}</td>
          <td class="text-end">{{ monto|floatformat:0|intcomma }}</td>
          <td></td>
        </tr>
        {% endfor %}

        {% for desc, monto in descuentos %}
        <tr>
          <td>{{ desc }}</td>
          <td></td>
          <td class="text-end">{{ monto|floatformat:0|intcomma }}</td>
        </tr>
        {% endfor %}

        {% if not ingresos and not descuentos %}
        <tr>
          <td colspan="3" class="text-center">No se registraron ingresos ni descuentos.</td>
        </tr>
        {% endif %}
      </tbody>
      <tfoot class="table-light">
        <tr>
          <th class="text-end">Total Neto</th>
          <th colspan="2" class="text-end">{{ neto|floatformat:0|intcomma }} Gs</th>
        </tr>
        <tr>
          <th colspan="3" class="text-center">({{ neto_letras }})</th>
        </tr>
      </tfoot>
    </table>

    <a href="{% url 'descargar_recibo_pdf' empleado.id_empleado selected_id %}" class="btn text-white mb-5" style="background-color:#9c27b0;">Descargar PDF</a>
  </div>
</div>
{% endif %}
{% endblock%}