<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Nómina</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f5f5f5;
        }
        .navbar-brand, .navbar-text, .btn-logout {
            color: white !important;
        }
        .btn-logout:hover {
            background-color: #7b1fa2 !important;
        }
    </style>
</head>
<body>
  {% include 'header.html' %}
    

    <div class="container mt-5">
        {% block content %}
        <!-- Aquí va el contenido de cada página -->
        {% endblock %}
    </div>
</body>
</html>
