<style>
    .bg-lila {
    background-color: #9c4dcc;  /* Lila */
}
</style>
<header class="bg-lila py-3">
    <div class="container d-flex justify-content-end align-items-center">
        <!-- Nombre del usuario -->
        <div class="text-white mr-4">
            <strong>{{ user.username }}</strong> <!-- Muestra el nombre del usuario logueado -->
        </div>

            <div>
            <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">Cerrar sesión</a>
        </div>
    </div>
</header>
